.game-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#grid-size-label {
    text-align: center;
}
.grid-container {
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    padding: 0;
    flex-shrink: 0;

}

.row {
    display: flex;
    flex: 1;
    border: none;
}

.cell {
    border: 1.5px solid black;
    flex: 1;
}