
/* .controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 25px;
} */

.grid-container {
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    padding: 0;
}

.row {
    display: flex;
    flex: 1;
    border: none;
}

.cell {
    border: 1.5px solid black;
    flex: 1;
}